Repository remotelock/react-week-scheduler: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Other: Clean up deps
  package.json
  yarn.lock
Due: prettier --write

Other: Configure webpack
  .babelrc
  .eslintrc.json
  .travis.yml
  README.md
  package.json
  postcss.config.js
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: prettier --write, eslint

Other: keep react build script
  .travis.yml
  package.json
  tsconfig.json
Due: prettier --write

Other: fix typo
  README.md
Due: prettier --write

Other: Update README and out dir
  .eslintignore
  .gitignore
  .prettierignore
  .travis.yml
  README.md
  package.json
  webpack.config.js
Due: prettier --write, eslint

Fix: Use rollup
  .babelrc
  .eslintignore
  .prettierignore
  README.md
  demo/components/Key/Key.module.scss
  demo/components/Key/Key.tsx
  demo/index.module.scss
  demo/index.tsx
  index.css
  index.js
  index.mjs
  package.json
  rollup.config.js
  src/index.tsx
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: prettier --write, eslint

Other: generate types
  .eslintignore
  .gitignore
  .npmignore
  .prettierignore
  demo/index.tsx
  package.json
  src/index.js
  tsconfig.json
Due: prettier --write, eslint

1.0.5
  .npmignore
  package.json
  tsconfig.json
Due: prettier --write

Other: use parcel for demo
  .eslintignore
  .gitignore
  .npmignore
  .prettierignore
  demo/index.html
  demo/index.tsx
  demo/tsconfig.json
  index.js
  package.json
  postcss.config.js
  public/index.html
  tsconfig.json
  tsconfig.types.json
  yarn.lock
Due: prettier --write, eslint

Other: Build demo with parcel
  package.json
  yarn.lock
Due: prettier --write

Other: fix demo build script
  package.json
Due: prettier --write

Other: fixes
  .gitignore
  index.css
  index.js
  index.mjs
  package.json
  src/react-app-env.d.ts
  src/styles/styles.module.scss.d.ts
  tsconfig.json
  tsconfig.types.json
Due: prettier --write, eslint

Fix: demo path
  package.json
Due: prettier --write

Fix: Tiny fix
  .gitignore
Due: none

Other: fixes
  .gitignore
  .npmignore
  README.md
  package.json
  rollup.config.js
Due: prettier --write, eslint

Other: CircleCI
  .circleci/config.yml
  package.json
Due: prettier --write

Other: Travis
  .travis.yml
  package.json
Due: prettier --write

Other: Multi-deploy
  .travis.yml
  package.json
Due: prettier --write

Fix: specify eninges
  .travis.yml
  package.json
Due: prettier --write

Fix: add missing dep
  package.json
  yarn.lock
Due: prettier --write

Other: freeze lockfile
  .travis.yml
Due: none

Other: add badges
  README.md
Due: prettier --write

Fix: hooks
  .eslintrc.json
  package.json
  src/components/RangeBox.tsx
  src/components/TimeGridScheduler.tsx
  src/hooks/useClickAndDrag.ts
  src/hooks/useEventListener.ts
  src/hooks/useStickyStyle.ts
  yarn.lock
Due: prettier --write

Fix: fix update key
  demo/index.tsx
  src/components/RangeBox.tsx
  src/components/TimeGridScheduler.tsx
Due: prettier --write

Other: force type checking on build
  package.json
Due: prettier --write

Other: Only deploy demo on master
  .travis.yml
Due: none

Other: Use Travis pages deployment
  .travis.yml
Due: none

Other: Update package.json
  package.json
Due: prettier --write

Other: Run linters on build
  package.json
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.7c53de91.js
  demo.7c53de91.js.map
  demo.f6097b04.css
  demo.f6097b04.css.map
  index.html
  index.module.91866b77.css
  index.module.91866b77.css.map
  index.module.91866b77.js
Due: prettier --write, eslint

Fix: travis keep history
  .travis.yml
Due: none

Update index.html
  index.html
Due: none

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  index.html
Due: none

Other: Remove CircleCI config
  .circleci/config.yml
Due: none

Fix: Force start of day
  demo/index.tsx
  src/components/TimeGridScheduler.tsx
Due: prettier --write

Fix: fixes to demo and re-render logic
  demo/index.module.scss
  demo/index.tsx
  src/components/TimeGridScheduler.tsx
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.4fb9cfca.js
  demo.4fb9cfca.js.map
  demo.5b8c1a74.css
  demo.5b8c1a74.css.map
  demo.7c53de91.js.map
  demo.f6097b04.css
  demo.f6097b04.css.map
  index.html
  index.module.8c8590ac.css
  index.module.8c8590ac.css.map
  index.module.8c8590ac.js
  index.module.91866b77.css
  index.module.91866b77.css.map
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((any of: **/*.md) or (any of: **/*.{j,t}s{x,})) or (any of: **/*.json)
  eslint: any of: **/*.js{x,}
