Repository remotelock/react-week-scheduler: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, eslint

.lintstagedrc:

{
  "**/*.md": ["prettier --write", "git add"],
  "**/*.scss": ["prettier --write", "stylelint", "git add"],
  "**/*.{j,t}s{x,}": ["prettier --write", "git add"],
  "**/*.json": ["prettier --write", "git add"],
  "**/*.js{x,}": ["eslint"]
}

created index
  .gitignore
  index.css
  index.js
  index.mjs
  package.json
Due: prettier --write, eslint

fixed
  .gitignore
Due: none

removed mjs module
  index.mjs
  package.json
  rollup.config.js
Due: prettier --write, eslint

added ttypes
  .gitignore
  demo/components/Key/Key.module.scss.d.ts
  demo/index.module.scss.d.ts
  src/components/Cell.d.ts
  src/components/DefaultEventRootComponent.d.ts
  src/components/EventContent.d.ts
  src/components/RangeBox.d.ts
  src/components/Schedule.d.ts
  src/components/TimeGridScheduler.d.ts
  src/context.d.ts
  src/hooks/useClickAndDrag.d.ts
  src/hooks/useEventListener.d.ts
  src/hooks/useEventListener.ts
  src/hooks/useMousetrap.d.ts
  src/index.d.ts
  src/styles/index.d.ts
  src/styles/styles.module.scss.d.ts
  src/types.d.ts
  src/utils/cellToDate.d.ts
  src/utils/createGrid.d.ts
  src/utils/createMapCellInfoToContiguousDateRange.d.ts
  src/utils/createMapCellInfoToRecurringTimeRange.d.ts
  src/utils/createMapCellInfoToSingleDayRange.d.ts
  src/utils/createMapDateRangeToCells.d.ts
  src/utils/createPageMapCoordsToContainer.d.ts
  src/utils/getEarliestTimeRange.d.ts
  src/utils/getSpan.d.ts
  src/utils/getTextForDateRange.d.ts
  src/utils/mergeEvents.d.ts
Due: prettier --write

added map
  .gitignore
  index.css.map
  index.js
  index.js.map
  src/components/Cell.d.ts.map
  src/components/DefaultEventRootComponent.d.ts
  src/components/DefaultEventRootComponent.d.ts.map
  src/components/DefaultEventRootComponent.tsx
  src/components/EventContent.d.ts.map
  src/components/RangeBox.d.ts.map
  src/components/Schedule.d.ts.map
  src/components/TimeGridScheduler.d.ts.map
  src/context.d.ts.map
  src/hooks/useClickAndDrag.d.ts.map
  src/hooks/useEventListener.d.ts.map
  src/hooks/useMousetrap.d.ts.map
  src/hooks/useMousetrap.ts
  src/index.d.ts.map
  src/styles/index.d.ts.map
  src/types.d.ts.map
  src/utils/cellToDate.d.ts.map
  src/utils/createGrid.d.ts.map
  src/utils/createMapCellInfoToContiguousDateRange.d.ts.map
  src/utils/createMapCellInfoToRecurringTimeRange.d.ts.map
  src/utils/createMapCellInfoToSingleDayRange.d.ts.map
  src/utils/createMapDateRangeToCells.d.ts.map
  src/utils/createPageMapCoordsToContainer.d.ts.map
  src/utils/getEarliestTimeRange.d.ts.map
  src/utils/getSpan.d.ts.map
  src/utils/getTextForDateRange.d.ts.map
  src/utils/mergeEvents.d.ts.map
Due: prettier --write, eslint

added module
  index.js
  index.js.map
  src/index.tsx
Due: prettier --write, eslint

change index.js
  index.js
  index.js.map
  package-lock.json
  package.json
  src/index.tsx
Due: prettier --write, eslint

added module dec
  src/types.d.ts
  src/types.d.ts.map
  src/types.ts
Due: prettier --write

added module dec
  src/types.ts
Due: prettier --write

removed module
  src/types.d.ts
  src/types.d.ts.map
  src/types.ts
Due: prettier --write

added command in package json for update changes
  package.json
Due: prettier --write

check locale value
  index.js
  index.js.map
  src/components/TimeGridScheduler.d.ts
  src/components/TimeGridScheduler.d.ts.map
  src/components/TimeGridScheduler.tsx
Due: prettier --write, eslint

update date-fns
  demo/index.tsx
  index.js
  index.js.map
  package-lock.json
  package.json
  src/components/Cell.tsx
  src/components/DefaultEventRootComponent.d.ts.map
  src/components/DefaultEventRootComponent.tsx
  src/components/RangeBox.d.ts.map
  src/components/RangeBox.tsx
  src/components/Schedule.d.ts.map
  src/components/Schedule.tsx
  src/components/TimeGridScheduler.d.ts
  src/components/TimeGridScheduler.d.ts.map
  src/components/TimeGridScheduler.tsx
  src/context.d.ts
  src/context.d.ts.map
  src/context.ts
  src/hooks/useClickAndDrag.d.ts.map
  src/hooks/useClickAndDrag.ts
  src/types.ts
  src/utils/cellToDate.d.ts.map
  src/utils/cellToDate.ts
  src/utils/createMapCellInfoToContiguousDateRange.ts
  src/utils/createMapCellInfoToRecurringTimeRange.d.ts.map
  src/utils/createMapCellInfoToRecurringTimeRange.ts
  src/utils/createMapCellInfoToSingleDayRange.d.ts.map
  src/utils/createMapCellInfoToSingleDayRange.ts
  src/utils/createMapDateRangeToCells.d.ts.map
  src/utils/createMapDateRangeToCells.ts
  src/utils/getEarliestTimeRange.d.ts.map
  src/utils/getEarliestTimeRange.ts
  src/utils/getTextForDateRange.d.ts
  src/utils/getTextForDateRange.d.ts.map
  src/utils/getTextForDateRange.ts
  src/utils/mergeEvents.ts
Due: prettier --write, eslint

Update TimeGridScheduler.tsx
  src/components/TimeGridScheduler.tsx
Due: prettier --write

Update useMousetrap.ts
  src/hooks/useMousetrap.ts
Due: prettier --write

Fix: import ExtendedKeyboardEvent from mousetrap
  src/components/TimeGridScheduler.tsx
Due: prettier --write

node-sass updated, cell width changed just for fun
  package-lock.json
  package.json
  src/styles/styles.module.scss
  yarn.lock
Due: prettier --write, stylelint

Add apis to calender
  demo/Calender.tsx
  demo/Dashboard.tsx
  demo/MainPage.tsx
  demo/dashboard.css
  demo/index.tsx
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write
