Repository remotelock/react-week-scheduler: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "**/*.md": ["prettier --write", "git add"],
  "**/*.{j,t}s{x,}": ["prettier --write", "git add"],
  "**/*.json": ["prettier --write", "git add"],
  "**/*.js{x,}": ["eslint"]
}

Fix: Use more granular import paths for rxjs, lodash and date-fns
  .babelrc
  demo/index.tsx
  package.json
  rollup.config.js
  src/components/Cell.tsx
  src/components/RangeBox.tsx
  src/components/TimeGridScheduler.tsx
  src/hooks/useClickAndDrag.ts
  src/utils/cellToDate.ts
  src/utils/createGrid.ts
  src/utils/createMapCellInfoToContiguousDateRange.ts
  src/utils/createMapCellInfoToRecurringTimeRange.ts
  src/utils/createMapCellInfoToSingleDayRange.ts
  src/utils/createMapDateRangeToCells.ts
  src/utils/getEarliestRange.ts
  src/utils/getTextForDateRange.ts
  src/utils/mergeEvents.ts
  yarn.lock
Due: prettier --write, eslint

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.08cfcaa7.js
  demo.08cfcaa7.js.map
  demo.bb508846.js.map
  index.html
Due: prettier --write, eslint

Fix: move dev deps
  package.json
Due: prettier --write

Fix: remove RxJS compat
  package.json
  src/hooks/useClickAndDrag.ts
  yarn.lock
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.08cfcaa7.js.map
  demo.c2ed2d58.js
  demo.c2ed2d58.js.map
  index.html
Due: prettier --write, eslint

Other: fix dependcy types
  src/utils/mergeEvents.ts
  types/humanize-duration.d.ts
  types/merge-ranges.d.ts
Due: prettier --write

Fix: up/down sometimes not working
  src/components/RangeBox.tsx
  src/components/TimeGridScheduler.tsx
  src/hooks/useMousetrap.ts
Due: prettier --write

Fix: type check
  tsconfig.json
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.0091e1cb.js
  demo.0091e1cb.js.map
  demo.c2ed2d58.js.map
  index.html
Due: prettier --write, eslint

Fix: down key constaint
  src/components/RangeBox.tsx
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.0091e1cb.js.map
  demo.a0534885.js
  demo.a0534885.js.map
  index.html
Due: prettier --write, eslint

Other: turn off prop types rule for ESLint
  .eslintrc.json
Due: prettier --write

Feature: allow customizing root and content
  demo/assets/outline-delete-24px.svg
  demo/index.module.scss
  demo/index.tsx
  package.json
  src/components/EventContent.tsx
  src/components/RangeBox.tsx
  src/components/Schedule.tsx
  src/components/TimeGridScheduler.tsx
  src/hooks/useMousetrap.ts
  src/styles/styles.module.scss
  src/types.ts
  yarn.lock
Due: prettier --write

Fix: work around TS build failure
  package.json
  src/components/RangeBox.tsx
  src/components/Schedule.tsx
  yarn.lock
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.a0534885.js.map
  demo.a335df91.css
  demo.a335df91.css.map
  demo.cb99c11c.js
  demo.cb99c11c.js.map
  demo.ea7ce97b.css
  demo.ea7ce97b.css.map
  index.html
  index.module.16941bc6.css
  index.module.16941bc6.css.map
  index.module.2dec7168.css
  index.module.2dec7168.css.map
  index.module.2dec7168.js
  outline-delete-24px.3b94597b.svg
Due: prettier --write, eslint

Fix: public URL for SVG
  package.json
Due: prettier --write

Fix: demo prod build for parcel
  package.json
Due: prettier --write

Fix: Use SVGR
  demo/index.module.scss
  demo/index.tsx
  package.json
  yarn.lock
Due: prettier --write

Fix: Do not use root component for pending creation
  src/components/TimeGridScheduler.tsx
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.647fa72b.js
  demo.647fa72b.js.map
  demo.a335df91.css
  demo.a335df91.css.map
  demo.cb99c11c.js.map
  demo.f8e38b63.css
  demo.f8e38b63.css.map
  index.html
  index.module.2dec7168.css
  index.module.2dec7168.css.map
  index.module.454a4b82.css
  index.module.454a4b82.css.map
  index.module.454a4b82.js
  outline-delete-24px.3b94597b.svg
Due: prettier --write, eslint

Feature: Add shift+up/down keys to resize
  demo/index.tsx
  src/components/RangeBox.tsx
Due: prettier --write

Fix: rounding errors
  src/components/RangeBox.tsx
  src/components/TimeGridScheduler.tsx
  src/utils/createMapCellInfoToRecurringTimeRange.ts
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.647fa72b.js.map
  demo.c7d17d8a.js
  demo.c7d17d8a.js.map
  index.html
Due: prettier --write, eslint

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.c7d17d8a.js.map
  demo.f4b1df2b.js
  demo.f4b1df2b.js.map
  index.html
Due: prettier --write, eslint

Fix: Clean up deps
  package.json
  yarn.lock
Due: prettier --write

Feature: export useMousetrap hook
  demo/index.tsx
  src/components/RangeBox.tsx
  src/components/TimeGridScheduler.tsx
  src/hooks/useMousetrap.ts
  src/index.tsx
Due: prettier --write

Fix: export name for useMousetrap
  src/index.tsx
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.270015ad.js
  demo.270015ad.js.map
  demo.f4b1df2b.js.map
  index.html
Due: prettier --write, eslint

Feature: add support for onClick for time block
  src/components/RangeBox.tsx
  src/components/Schedule.tsx
  src/components/TimeGridScheduler.tsx
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.270015ad.js.map
  demo.5776b72e.js
  demo.5776b72e.js.map
  index.html
Due: prettier --write, eslint

Fix: CSS files have sideEffects
  package.json
Due: prettier --write

Feature: support disabled prop
  demo/index.tsx
  src/components/RangeBox.tsx
  src/components/Schedule.tsx
  src/components/TimeGridScheduler.tsx
  src/hooks/useClickAndDrag.ts
  src/styles/styles.module.scss
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.5776b72e.js.map
  demo.9ab87669.js
  demo.9ab87669.js.map
  demo.f30cbf19.css
  demo.f30cbf19.css.map
  demo.f8e38b63.css
  demo.f8e38b63.css.map
  index.html
Due: prettier --write, eslint

Feature: minimum of one hour for drag box
  src/components/TimeGridScheduler.tsx
Due: prettier --write

Fix: rounding of cell height/width
  src/utils/createGrid.ts
Due: prettier --write

Other: change defaults for demo
  demo/index.tsx
Due: prettier --write

Fix: use single line for time range
  src/styles/styles.module.scss
Due: none

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.17b13c3e.js
  demo.17b13c3e.js.map
  demo.9ab87669.js.map
  index.html
Due: prettier --write, eslint

Feature: add date-fns context
  demo/index.tsx
  src/components/EventContent.tsx
  src/context.ts
  src/index.tsx
Due: prettier --write

Fix: missing class name
  src/styles/styles.module.scss
Due: none
