Repository remotelock/react-week-scheduler: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.17b13c3e.js.map
  demo.2677269a.js
  demo.2677269a.js.map
  demo.493f0fa6.css
  demo.493f0fa6.css.map
  demo.f30cbf19.css
  demo.f30cbf19.css.map
  index.html
Due: prettier --write, eslint

Breaking: rename context to SchedulerContext
  demo/index.tsx
  src/components/EventContent.tsx
  src/context.ts
  src/index.tsx
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.2677269a.js.map
  demo.43f8ba1b.js
  demo.43f8ba1b.js.map
  index.html
Due: prettier --write, eslint

Fix: Support localization for timeline and day names
  demo/index.tsx
  src/components/EventContent.tsx
  src/components/TimeGridScheduler.tsx
  src/utils/getTextForDateRange.ts
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.128c070a.js
  demo.128c070a.js.map
  demo.43f8ba1b.js.map
  index.html
Due: prettier --write, eslint

Fix: Force click of cell at hour start and end
  src/components/Cell.tsx
  src/components/TimeGridScheduler.tsx
  src/hooks/useClickAndDrag.ts
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.128c070a.js.map
  demo.ab4f5f8d.js
  demo.ab4f5f8d.js.map
  index.html
Due: prettier --write, eslint

Fix: cell click on disabled
  src/components/TimeGridScheduler.tsx
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.3ede10fd.js
  demo.3ede10fd.js.map
  demo.ab4f5f8d.js.map
  index.html
Due: prettier --write, eslint

Feature: support custom cellClickPrecision
  demo/index.tsx
  src/components/TimeGridScheduler.tsx
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.3ede10fd.js.map
  demo.484e95d7.js
  demo.484e95d7.js.map
  index.html
Due: prettier --write, eslint

Fix: drag box showing on single click
  src/components/TimeGridScheduler.tsx
  src/hooks/useClickAndDrag.ts
Due: prettier --write

Other: update demo
  demo/index.tsx
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.0308c98c.js
  demo.0308c98c.js.map
  demo.484e95d7.js.map
  index.html
Due: prettier --write, eslint

Fix: perceived delay on drag
  src/hooks/useClickAndDrag.ts
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.0308c98c.js.map
  demo.ec4fc3b7.js
  demo.ec4fc3b7.js.map
  index.html
Due: prettier --write, eslint

Fix: earliest time range for initial scroll
  src/components/TimeGridScheduler.tsx
  src/utils/getEarliestRange.ts
  src/utils/getEarliestTimeRange.ts
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.6bb268ff.js
  demo.6bb268ff.js.map
  demo.ec4fc3b7.js.map
  index.html
Due: prettier --write, eslint

Fix: comparison of earliest time range
  src/utils/getEarliestTimeRange.ts
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.21eb5487.js
  demo.21eb5487.js.map
  demo.6bb268ff.js.map
  index.html
Due: prettier --write, eslint

Fix: blur after creation
  src/components/TimeGridScheduler.tsx
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.21eb5487.js.map
  demo.5bdfd4fc.js
  demo.5bdfd4fc.js.map
  index.html
Due: prettier --write, eslint

Fix: only activate keys if active
  src/components/RangeBox.tsx
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.5bdfd4fc.js.map
  demo.6cde6e79.js
  demo.6cde6e79.js.map
  index.html
Due: prettier --write, eslint

Fix: require isActive for enter key
  src/components/RangeBox.tsx
Due: prettier --write

Feature: pass is-active class to event
  src/components/RangeBox.tsx
  src/styles/styles.module.scss
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.493f0fa6.css
  demo.493f0fa6.css.map
  demo.6cde6e79.js.map
  demo.bf757765.js
  demo.bf757765.js.map
  demo.e2eab9e5.css
  demo.e2eab9e5.css.map
  index.html
Due: prettier --write, eslint

Fix: extra props on div
  demo/index.tsx
  src/components/DefaultEventRootComponent.tsx
  src/components/RangeBox.tsx
  src/types.ts
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.bf757765.js.map
  demo.ec6df0bd.js
  demo.ec6df0bd.js.map
  index.html
Due: prettier --write, eslint

Fix: allow time to wrap
  src/styles/styles.module.scss
Due: none

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.815c4311.js
  demo.815c4311.js.map
  demo.8bcd7c90.css
  demo.8bcd7c90.css.map
  demo.e2eab9e5.css
  demo.e2eab9e5.css.map
  demo.ec6df0bd.js.map
  index.html
Due: prettier --write, eslint

Fix: remove is-active class
  src/components/RangeBox.tsx
  src/styles/styles.module.scss
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.595e3431.js
  demo.595e3431.js.map
  demo.815c4311.js.map
  demo.868a45df.css
  demo.868a45df.css.map
  demo.8bcd7c90.css
  demo.8bcd7c90.css.map
  index.html
Due: prettier --write, eslint

Feature: export DefaultEventRootComponent for composability
  src/index.tsx
Due: prettier --write

Other: fix disabled delete button on demo
  demo/index.tsx
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.30e26c27.js
  demo.30e26c27.js.map
  demo.595e3431.js.map
  index.html
Due: prettier --write, eslint

Fix: z-index of active time block
  src/styles/styles.module.scss
Due: none

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.26e12e8c.js
  demo.26e12e8c.js.map
  demo.30e26c27.js.map
  demo.4847bbba.css
  demo.4847bbba.css.map
  demo.868a45df.css
  demo.868a45df.css.map
  index.html
Due: prettier --write, eslint

Feature: allow customizing colors with CSS variables
  src/components/TimeGridScheduler.tsx
  src/styles/styles.module.scss
Due: prettier --write

Other: lint staged SCSS files
  .lintstagedrc
Due: none

Path conditions:
  prettier --write: ((any of: **/*.md) or (any of: **/*.{j,t}s{x,})) or (any of: **/*.json)
  eslint: any of: **/*.js{x,}
