Repository remotelock/react-week-scheduler: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, eslint

Other: improve TS and JS staged linting
  .lintstagedrc
Due: none

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.1e3b7a3a.js
  demo.1e3b7a3a.js.map
  demo.26e12e8c.js.map
  demo.4847bbba.css
  demo.4847bbba.css.map
  demo.ce2aa0f3.css
  demo.ce2aa0f3.css.map
  index.html
Due: prettier --write, eslint

Fix: Force single drag direction
  src/components/RangeBox.tsx
Due: prettier --write

Other: fix package name in error message
  src/components/TimeGridScheduler.tsx
Due: prettier --write

Fix: drop same date components in event content
  src/components/EventContent.tsx
  src/utils/getTextForDateRange.ts
Due: prettier --write

Feature: export date formatting utils
  src/index.tsx
Due: prettier --write

Other: rename exported formatting utils
  src/components/EventContent.tsx
  src/index.tsx
  src/utils/getTextForDateRange.ts
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.1a9e0fc6.js
  demo.1a9e0fc6.js.map
  demo.1e3b7a3a.js.map
  index.html
Due: prettier --write, eslint

Fix: Firefox crash on drag
  src/components/RangeBox.tsx
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.1a9e0fc6.js.map
  demo.5a9e3fce.js
  demo.5a9e3fce.js.map
  index.html
Due: prettier --write, eslint

Other: use named functions for ease of debugging
  demo/index.tsx
  src/components/TimeGridScheduler.tsx
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.5a9e3fce.js.map
  demo.d01e2af8.js
  demo.d01e2af8.js.map
  index.html
Due: prettier --write, eslint

Fix: add PointerEvents polyfill to demo
  demo/index.tsx
  package.json
  src/components/TimeGridScheduler.tsx
  yarn.lock
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.74232004.js
  demo.74232004.js.map
  demo.d01e2af8.js.map
  index.html
Due: prettier --write, eslint

Fix: Experiment with a fix for Safari iOS
  src/components/RangeBox.tsx
Due: prettier --write

Fix: add pure calls annotations for better tree shaking
  .babelrc
  package.json
  yarn.lock
Due: prettier --write

Fix: Test a fix for #7
  demo/index.tsx
  package.json
  src/components/EventContent.tsx
  src/components/RangeBox.tsx
  src/components/TimeGridScheduler.tsx
  src/context.ts
  src/hooks/useClickAndDrag.ts
  src/hooks/useEventListener.ts
  src/hooks/useMousetrap.ts
Due: prettier --write

Fix: Allow develop branch to deploy
  .travis.yml
Due: none

Fix: update release config
  .releaserc.json
Due: prettier --write

Fix: update SR
  .travis.yml
  package.json
  yarn.lock
Due: prettier --write

Fix: imports
  demo/components/Key/Key.tsx
  demo/index.tsx
  src/components/Cell.tsx
  src/components/DefaultEventRootComponent.tsx
  src/components/EventContent.tsx
  src/components/RangeBox.tsx
  src/components/Schedule.tsx
  src/components/TimeGridScheduler.tsx
  src/context.ts
  src/hooks/useClickAndDrag.ts
  src/hooks/useEventListener.ts
  src/hooks/useMousetrap.ts
Due: prettier --write

Fix: missing type
  src/hooks/useClickAndDrag.ts
Due: prettier --write

Fix: demo on Firefox
  README.md
  demo/index.tsx
Due: prettier --write

Revert "Fix: Test a fix for #7"
  demo/index.tsx
  package.json
  src/components/EventContent.tsx
  src/components/RangeBox.tsx
  src/components/TimeGridScheduler.tsx
  src/context.ts
  src/hooks/useClickAndDrag.ts
  src/hooks/useEventListener.ts
  src/hooks/useMousetrap.ts
Due: prettier --write

Revert "Fix: imports"
  demo/components/Key/Key.tsx
  src/components/Cell.tsx
  src/components/DefaultEventRootComponent.tsx
  src/components/Schedule.tsx
Due: prettier --write

Fix: type
  src/hooks/useClickAndDrag.ts
Due: prettier --write

Fix: demo on Firefox stable (#8)
  .releaserc.json
  .travis.yml
  README.md
  demo/index.tsx
  package.json
  yarn.lock
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.49522266.js
  demo.49522266.js.map
  demo.74232004.js.map
  index.html
Due: prettier --write, eslint

Fix: use h:mm instead of h:m for date
  src/utils/getTextForDateRange.ts
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.49522266.js.map
  demo.f62272b7.js
  demo.f62272b7.js.map
  index.html
Due: prettier --write, eslint

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.15968e08.js
  demo.15968e08.js.map
  demo.f62272b7.js.map
  index.html
Due: prettier --write, eslint

Create LICENSE
  LICENSE
Due: none

default 24 hour format in labels and BoxRanges
  package.json
  src/components/TimeGridScheduler.tsx
  src/utils/getTextForDateRange.ts
  yarn.lock
Due: prettier --write

fixed types
  package-lock.json
  package.json
  src/components/TimeGridScheduler.tsx
  src/hooks/useMousetrap.ts
Due: prettier --write

fixed name
  package-lock.json
  package.json
Due: prettier --write

change name
  package-lock.json
  package.json
Due: prettier --write

change repository
  package.json
Due: prettier --write

fix
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (((any of: **/*.md) or (any of: **/*.scss)) or (any of: **/*.{j,t}s{x,})) or (any of: **/*.json)
  stylelint: any of: **/*.scss
  eslint: any of: **/*.js{x,}
