Repository remotelock/react-week-scheduler: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "**/*.md": ["prettier --write", "git add"],
  "**/*.{j,t}s{x,}": ["prettier --write", "git add"],
  "**/*.json": ["prettier --write", "git add"],
  "**/*.js{x,}": ["eslint"]
}

Other: Add CodeSandbox
  README.md
Due: prettier --write

Other: add screenshot
  README.md
  screenshot.png
Due: prettier --write

Feature: support deleting with backspace
  src/components/TimeGridScheduler.tsx
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.2cee31bd.js
  demo.2cee31bd.js.map
  demo.4fb9cfca.js.map
  index.html
Due: prettier --write, eslint

Fix: Remove unneeded :focus-within selector
  src/styles/styles.module.scss
Due: none

Fix: prevent default go back action on backspace press
  src/components/TimeGridScheduler.tsx
  src/hooks/useMousetrap.ts
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.0e9efae1.css
  demo.0e9efae1.css.map
  demo.261767ed.js
  demo.261767ed.js.map
  demo.2cee31bd.js.map
  demo.5b8c1a74.css
  demo.5b8c1a74.css.map
  index.html
Due: prettier --write, eslint

Fix: resizing on Firefox
  src/components/RangeBox.tsx
Due: prettier --write

Fix: handle multiple cancel classes
  src/components/RangeBox.tsx
Due: prettier --write

Other: Allow onClick
  src/components/RangeBox.tsx
  src/components/Schedule.tsx
Due: prettier --write

Other: Memoize cancel classes
  src/components/RangeBox.tsx
Due: prettier --write

Fix: join cancel classes
  src/components/RangeBox.tsx
Due: prettier --write

Feature: Sticky top and left
  .eslintrc.json
  src/components/TimeGridScheduler.tsx
  src/hooks/useScrollPosition.ts
  src/hooks/useStickyStyle.ts
  src/styles/styles.module.scss
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.0e9efae1.css
  demo.0e9efae1.css.map
  demo.261767ed.js.map
  demo.7ef02659.css
  demo.7ef02659.css.map
  demo.cf71ff99.js
  demo.cf71ff99.js.map
  index.html
Due: prettier --write, eslint

Fix: z-index for dragging
  src/styles/styles.module.scss
Due: none

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.508e67ac.js
  demo.508e67ac.js.map
  demo.7ef02659.css
  demo.7ef02659.css.map
  demo.87606ea9.css
  demo.87606ea9.css.map
  demo.cf71ff99.js.map
  index.html
Due: prettier --write, eslint

Other: update README.md
  README.md
Due: prettier --write

Fix: README and error message
  README.md
  demo/index.module.scss
  src/components/RangeBox.tsx
Due: prettier --write

Fix: Remove global styles
  src/styles/styles.module.scss
Due: none

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.0988eb3d.css
  demo.0988eb3d.css.map
  demo.508e67ac.js.map
  demo.87606ea9.css
  demo.87606ea9.css.map
  demo.ea8b699f.js
  demo.ea8b699f.js.map
  index.html
  index.module.16941bc6.css
  index.module.16941bc6.css.map
  index.module.16941bc6.js
  index.module.8c8590ac.css
  index.module.8c8590ac.css.map
Due: prettier --write, eslint

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.0988eb3d.css
  demo.0988eb3d.css.map
  demo.c8e1371b.js
  demo.c8e1371b.js.map
  demo.ea7ce97b.css
  demo.ea7ce97b.css.map
  demo.ea8b699f.js.map
  index.html
Due: prettier --write, eslint

Fix: class names
  README.md
  rollup.config.js
  src/components/RangeBox.tsx
Due: prettier --write, eslint

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.6702f9f1.js
  demo.6702f9f1.js.map
  demo.c8e1371b.js.map
  index.html
Due: prettier --write, eslint

Fix: no modules
  postcss.config.js
  rollup.config.js
Due: prettier --write, eslint

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.26112de4.js
  demo.26112de4.js.map
  demo.3df56e59.css
  demo.3df56e59.css.map
  demo.6702f9f1.js.map
  demo.ea7ce97b.css
  demo.ea7ce97b.css.map
  index.html
  index.module.16941bc6.css
  index.module.16941bc6.css.map
  index.module.16941bc6.js
  index.module.be3871da.css
  index.module.be3871da.css.map
Due: prettier --write, eslint

Fix: Revert "Fix: class names"
  README.md
  postcss.config.js
  rollup.config.js
Due: prettier --write, eslint

Fix: update README
  README.md
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.26112de4.js.map
  demo.3df56e59.css
  demo.3df56e59.css.map
  demo.6702f9f1.js
  demo.6702f9f1.js.map
  demo.ea7ce97b.css
  demo.ea7ce97b.css.map
  index.html
  index.module.16941bc6.css
  index.module.16941bc6.css.map
  index.module.16941bc6.js
  index.module.be3871da.css
  index.module.be3871da.css.map
Due: prettier --write, eslint

Feature: Initial scroll, document props
  src/components/TimeGridScheduler.tsx
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.6702f9f1.js.map
  demo.8ec74221.js
  demo.8ec74221.js.map
  index.html
Due: prettier --write, eslint

Fix: Fix generated types
  .eslintignore
  .gitignore
  .prettierignore
  package.json
  tsconfig.types.json
Due: prettier --write

Fix: Remove console.log
  src/components/TimeGridScheduler.tsx
Due: prettier --write

Fix: Generate maps for declarations
  tsconfig.types.json
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.6177898a.js
  demo.6177898a.js.map
  demo.8ec74221.js.map
  index.html
Due: prettier --write, eslint

Fix: only scroll to default hours if no earliest range
  src/components/TimeGridScheduler.tsx
  src/utils/getEarliestRange.ts
Due: prettier --write

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.6177898a.js.map
  demo.64e4db11.js
  demo.64e4db11.js.map
  index.html
Due: prettier --write, eslint

Breaking: Type checking and generation for CSS modules
  .eslintignore
  .eslintrc.json
  .gitignore
  .nvmrc
  .prettierignore
  .travis.yml
  demo/components/Key/Key.tsx
  demo/index.tsx
  package.json
  src/components/Cell.tsx
  src/components/RangeBox.tsx
  src/components/Schedule.tsx
  src/components/TimeGridScheduler.tsx
  src/index.js
  src/index.tsx
  src/styles/index.tsx
  src/styles/styles.module.scss.d.ts
  src/types.ts
  tsconfig.types.json
  yarn.lock
Due: prettier --write, eslint

Breaking: Type checking and generation for CSS modules (#1)
  .eslintignore
  .eslintrc.json
  .gitignore
  .nvmrc
  .prettierignore
  .travis.yml
  demo/components/Key/Key.tsx
  demo/index.tsx
  package.json
  src/components/Cell.tsx
  src/components/RangeBox.tsx
  src/components/Schedule.tsx
  src/components/TimeGridScheduler.tsx
  src/index.js
  src/index.tsx
  src/styles/index.tsx
  src/styles/styles.module.scss.d.ts
  src/types.ts
  tsconfig.types.json
  yarn.lock
Due: prettier --write, eslint

Deploy remotelock/react-week-scheduler to github.com/remotelock/react-week-scheduler.git:gh-pages
  demo.64e4db11.js.map
  demo.bb508846.js
  demo.bb508846.js.map
  index.html
Due: prettier --write, eslint

Other: fix rollup warnings
  package.json
  rollup.config.js
  yarn.lock
Due: prettier --write, eslint
